---
title: Романовы и турбулентность
---

<script lang="ts">
	import Svg from '$lib/components/Svg.svelte';
	import Helper from './Helper.svelte'
	import svg_01 from './Романовы и турбулентность.svg?raw';
</script>

<Helper />

* 111
* 2222

<Svg svg={svg_01} caption="Чередование стабильных периодов и энтропии в российской истории." />

sdfsdfsfsdf
